NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=
JWT_EXPIRES=8h

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=
PG_PASSWORD=
PG_DATABASE=

# Redis
# REDIS_HOST=localhost
# REDIS_PORT=6379

# Email
EMAIL_HOST=
EMAIL_PORT=465
EMAIL_USER=
EMAIL_PASS=

# reCaptcha
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
